.blog-head{
    width: 100%;
    height: 270px;
    background-color: #2d2d2d;
    text-align: center;
    margin-bottom: 20px;
}
.blog-head .logo{
    margin: 94px 0;
}
.blog-head .blog-nav{
    width: 100%;
}
.blog-head .blog-nav li{
    display: inline-block;
    margin: 0 22.5px;
}
.blog-head .blog-nav li a{
    font-family: '微软雅黑';
    font-size: 14px;
    color: #868686;
}
.blog-head .blog-nav li a:hover{
    color: #bfbfbf;
}

/*页面中部*/
.main-box{
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}
.main-box .article-list{
    display: inline-block;
    width: 698px;
}
.article-list .article-con {
    width: 100%;
}
.article-list .list-con .list-cunk{
    position: relative;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(220,220,220,.75);
    min-height: 193px;
    margin-bottom: 20px;
}
.list-cunk .cunk-left{
    display: inline-block;
    width:203px;
    margin-right: 15px;
    vertical-align: top;
}
.cunk-left .thum{
    width: 100%;
    min-height: 134px;
    background: url('../../img/static-img.jpg') no-repeat center;
    margin-bottom: 15px;
    overflow: hidden;
}
.cunk-left .thum img{
    width: 100%;
}
.cunk-left .time{
    float: left;
    font-size: 13px;
    color: #afafaf;
    font-family: '微软雅黑';
    background: url('../../img/time.png') no-repeat 0 49%;
    padding-left: 15px;
}
.cunk-left .label-b{
    overflow: hidden;
}
.cunk-left .classify{
    position: relative;
    float: right;
    font-size: 13px;
    color: #afafaf;
}
.cunk-left .classify::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f30;
    top:50%;
    left: -15px;
    margin-top: -2px;
}
.classify.PS4::after{
    background-color: #043770;
}
.classify.javascript::after{
    background-color: #bd9f11;
}
.list-cunk .cunk-right{
    display: inline-block;
    width: 423px;
    vertical-align: top;
}
.cunk-right .caption{
    font-size: 16px;
    color: #333;
    font-weight: normal;
    margin-bottom: 22px;
}
.cunk-right .intro{
    font-size: 12px;
    color: #9e9e9e;
    line-height: 22px;
}

.list-cunk .read-all{
    position: absolute;
    right: 38px;
    bottom: 15px;
    font-size: 12px;
    color: #379213;
}
.list-cunk .read-all:hover{
    text-decoration: underline;
}

.short-cut{
    display: inline-block;
    width: 283px;
    vertical-align: top;
    margin-left: 19px;
}

.short-cut .genre-box,.short-cut .trends-box{
    width: 100%;
    height: auto;
    min-height: 195px;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(220,220,220,.75);
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.genre-box .caption{
    font-size: 16px;
    color: #afafaf;
    font-weight: normal;
    margin-bottom: 15px;
}

.genre-list li{
    display: inline-block;
    padding: 6px 9px;
    vertical-align: top;
    border-radius: 2px;
    font-size: 12px;
    color:#fff;
    margin: 0 10px 10px 0;
    cursor: pointer;
    background-color: #828282;
}
.genre-list li:nth-of-type(1){
    background-color: #043770;
}
.genre-list li:nth-of-type(2){
    background-color: #bd9f11;
}
.genre-list li:nth-of-type(3){
    background-color: #f30;
}
.genre-list li:nth-of-type(4){
    background-color: #4a169e;
}
.genre-list li:nth-of-type(5){
    background-color: #51b90f;
}
.genre-list li:nth-of-type(6){
    background-color: #e49217;
}

.trends-box .char{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}

.trends-box .chat{
    text-align: center;
    margin-bottom: 10px;
}
.trends-box .chat a{
    display: inline-block;
    width: 24px;
    height: 23px;
    opacity: 0.8;
    background:url('../../img/icon.png') no-repeat;
    margin: 0 5px;
}
.trends-box .chat a:hover{
    opacity: 1;
}
.chat .sina-weibo {
    background-position: -24px 0 !important;
}
.chat .huaban{
    background-position: -49px 0 !important;
}
.trends-box p{
    line-height: 2.2;
    font-size: 13px;
    background-color: #efefef;
    margin-bottom: 10px;
    color: #666;
    padding-left: 10px;
}
/*文章页*/
.article-body{
    width: 960px;
    min-height: 600px;
    background-color: #fff;
    padding: 30px 20px;
    margin: 0 auto;
}
.article-title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #4cc8d7;
}
.article-label{
    text-align: center;
    line-height: 3;
}
.article-label span{
    font-size: 13px;
    color: #8d8d8d;
    margin: 0 10px;
}
.article-body article{
    font-size: 14px;
    color: #666;
}
.article-body article p {
    text-indent: 2em;
    margin-bottom: 15px;
    line-height: 1.8;
    font-size: 14px;
    color: #666;
}
footer {
    margin-top: 30px;
}
footer p {
    text-align: center;
    font-size: 12px;
    line-height: 2.2;
    color: #c3c3c3;
    letter-spacing: 1px;
}