@font-face{
    font-family: Corn;
    src: url('../font/Corn.ttf');
}
.nav-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 90;
}
.nav-bar .flex-box{
    flex: 1;
}
.nav-bar .title{
    font-family: Corn;
    font-size: 5vh;
    margin-bottom: 4%;
}
.nav-bar li {
    position: relative;
    line-height: 3;
    cursor: pointer;
    max-width: 100px;
    margin: 0 auto;
}

.nav-bar li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    top: 50%;
    left: 0;
    /* margin-top: -1px; */
    background-color: #333;
    z-index: 10;
    -webkit-transition: width .3s ease;
       -moz-transition: width .3s ease;
         -o-transition: width .3s ease;
        -ms-transition: width .3s ease;
            transition: width .3s ease;
}

.nav-bar li:hover::after{
    width: 100%;
}

.nav-bar li a{
    font-size: 1.5vh;
    color:rgb(82, 82, 82);
}