.edit-caption,
.edit-time,
.edit-intro,
.edit-content,
.edit-label,
.edit-image{
    background-color:#fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(220,220,220,.75);
}
.backstage-cunk label {
    font-size: 13px;
    color: #8d8d8d;
}
.edit-caption input,
.edit-time input,
.edit-label input
{
    border: 1px solid #e0e0e0;
    line-height: 28px;
    height: 28px;
    border-radius: 3px;
    min-width: 220px;
    padding-left: 5px;
}
.edit-intro textarea,
.edit-content textarea
{
    vertical-align: top;
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding-left: 5px;
    height: 120px;
}
.edit-content textarea{
    width: 99%;
    margin-top: 10px;
}
.release{
    border: 0;
    background-color: #f30;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 15px;
}
.release:hover{
    background-color: #ff5b31;
}