/*
 *样式初始化
 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
@font-face{
    font-family: Monda;
    src: url('../src/font/Monda.ttf');
}
a, p, h1, h2, h3, h4, h5, h6, p, span, div{font-family: 'Monda', 'Microsoft YaHei';}
a{text-decoration:none;} 
a:link{color:#009;} 
a:visited{color:#800080;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:none;} 
body{
    background-color: #f5f5f5;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}

